// Custom.scss
// Option A: Include all of Bootstrap

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Lato:wght@400;700&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'EB Garamond', serif;

// $headings-margin-bottom:      $spacer * .5;
// $headings-font-style:         null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              inherit;  

// Then add additional custom code here


// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

#hero {
    background: url("../images/mini-golf-yellow-ball-with-a-bat-1.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .d-flex {
    height: 70vh;
}

#hero-1 {
    background-image: url("../images/green-field-and-golf-ball.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-1 .d-flex {
    height: 40vh;
}

#map {
    background: url("../images/map.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-2 {
    background: url("../images/white-golf-ball.jpg") rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-2 .d-flex {
    height: 40vh;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #198754;
    color: #198754;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.btn btn-success {
    float: right
}

.intro-image {
    height: 100%;
    object-fit: cover;
}

.card-body,
.card-title,
.card-subtitle {
    font-family: $font-family-sans-serif;
}

@media (max-width:767px) {
    .intro-image {
        grid-template-columns: repeat(1,1fr);
    }
    .intro .row,
    .card-box .row,
    #info .row {
        flex-direction: column;
        align-content: center;
    }
}
